HOST *
ServerAliveInterval 240

HOST emmentaler1
HostName emmentaler1.ethz.ch
User grumberg
Port 8006

HOST emmentaler2
HostName emmentaler2.ethz.ch
User grumberg
Port 8006

HOST emmentaler3
HostName emmentaler3.ethz.ch
User grumberg
Port 8006

HOST labs
HostName shell1.doc.ic.ac.uk
User dg1814

HOST phobos
HostName phobos.doc.ic.ac.uk
User dg1814

HOST deimos
HostName deimos.doc.ic.ac.uk
User dg1814

HOST mars
HostName mars.doc.ic.ac.uk
User dg1814

HOST kronos
ProxyJump labs
HostName 155.198.198.105
User dang
Port 39901
